/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 11 May, 2020, 3:48:57 PM
    Author     : FORAM JHALA
*/

body{
  background-color: #ececec;
  width: 100%;
  height: 100%;
}

a{
  text-decoration: none;
  color: #2E8B57;
              }
btn:hover{
  text-decoration: none;
  color: #fff;
}

.container{
  margin-top: 30px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 30px;
}
.row_style{
  margin-top: 20px;
  margin-bottom: 20px;
}
 .footer{
   position: relative;
   bottom: 0;
   text-align: center;
   width: 100%;
   background-color: #000;
   color: #fff;
   padding-top: 10px;
   font-size: 20px;
 }
 .red{
  padding-right: 20px;
 }

 /********  Navbar-section Start  **********/
 .collapse{
   font-size:14px;
   height: 150px;
   padding: 15px 50px;
   font-size: 18px;
   font-weight: bold
 }
 .website{
  width: 100%;
  margin-top: 0px;
 }

 .navbar{
  background-color:#000;
  color:#fff;
  border-color: #080808;
  min-height: 50px;
  border: 1px solid transparent;
  padding-top: 3px;
  margin-bottom: 0px;
}

.navbar-header{
 height: 80px;
 padding: 15px;
 padding-left: 50px;
 font-size: 20px;
 font-weight: bold;
}
.navbar-brand{
  font-size: 20px;
  padding-left: 10px;
}


/*******  Navbar-section End   ******/
.jumbotron{
 margin-bottom: 0px;
}

/******  Index-page Image Start   *******/
 .banner-image{
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url("pic/b3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.inner-banner-image{
  padding-top: 12%;
  width:80%;
  margin:auto;
}
.banner-content{
  position: relative;
  padding-top: 5%;
  padding-bottom: 5%;
  overflow:hidden;
  margin-bottom: 12%;
  background-color: rgba(0, 0, 0, 0.7);
  max-width: 1000px;
}

/****** Index-page Image End   *******/
.items{
  width:30%;
  display: block;
  padding-top: 50px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  float:left;
  margin-left:1%;
}

/********   Login-Page Start   ******/

.panel-heading{
  background-color: #fff;
  color: #080808;
  padding-bottom: 0px;

}

.btn{
  background-color: #2E8B57;
  color: #fff;
}

.panel-footer a{
  color: black;
}
.panel-footer a:hover{
  color: blue;
  text-decoration: underline;
}

/********   Login-Page End   ******/


.btn-toolbar{
  background-color: #fff;
  color: #2E8B57;
  color: #2E8B57;
}

.btn-toolbar:hover {
  background-color: #2E8B57;
  color: #fff;
}

@media only screen and (max-width: 767px){

  .footer{
    position: absolute;
  }
}

@media only screen and  (min-width:1024px){
  .footer{
    position: absolute;
  }
}
